
<app-navbar></app-navbar>
<!-- <app-home [newName]="fromFather"></app-home>
<hr>
<h1 style="color: blueviolet;">Start progetto angular: {{title}}</h1>
<h2 style="color: blueviolet;">Calcolo matematico tramite String Interpolation {{3*3*3*3}}</h2>
<button (click)="Welcome('Claudio Orlandi',51)" [disabled]="isDisable">Dimmi Chi Sei</button>

<h3>Di seguito esempio di Two Way Binding [Binding a due vie]</h3>
<hr>
<input type="text" placeholder="Inserire Nominativo" [(ngModel)]="testTwoWay">

<p>Osservate l'andamento tramite twb: {{testTwoWay}}</p>
<hr>
<h3>Di seguito uso direttiva *ngFor</h3>
<ul>
  <li *ngFor="let person of jsonWhat;let idx=index; let firstPerson=first; let lastPerson = last">{{idx}}. nome:
    {{person.nome}} --- cognome:{{person.cognome}} *** {{firstPerson}} *** {{lastPerson}}</li>
</ul>
<hr>

<h3>Di seguito uso direttiva *ngIF</h3>
<div *ngIf="isExist">CI SONO !!!
  <div *ngIf="jsonWhat.length > 0; then OkJson else KoJson"></div>
  <ng-template #OkJson>
    <li [ngStyle]="{'background-color': backColor % 2 === 0? 'green': 'cyan',
                    'color': color % 3 === 0? 'red': 'yellow',
                    'font-weight': wState % 5 === 0? 'bold': 'normal'}"

    *ngFor="let person of jsonWhat;let idx=index; let firstPerson=first; let lastPerson = last">{{idx}}. nome:
      {{person.nome}} --- cognome:{{person.cognome}} *** {{firstPerson}} *** {{lastPerson}}</li>
  </ng-template>
  <ng-template #KoJson>
    <p>Nessun personaggio presente !!!</p>
  </ng-template>
  <button type="button" (click)="RandomizeStyle()" class="btn btn-outline-danger">Change Style</button>
  <hr>
  <h3>Di seguito uso direttiva *ngSwitch</h3>
  <ul *ngFor="let p of jsonWhat" [ngSwitch]="p.state">
    <li *ngSwitchCase="'Good'" [style]="goodStyle">{{p.cognome}}</li>
    <li *ngSwitchCase="'Bad'" [style]="badStyle">{{p.cognome}}</li>
    <li *ngSwitchCase="'Neutral'" [style]="neutralStyle">{{p.cognome}}</li>
  </ul>
  <hr>

</div> -->
